/* Palette Catppuccin Mocha */
$base: #1e1e2e;
$surface0: #313244;
$overlay0: #6c7086;
$text: #cdd6f4;
$lavender: #b4befe;
$blue: #89b4fa;
$sapphire: #74c7ec;
$green: #a6e3a1;
$yellow: #f9e2af;
$maroon: #eba0ac;
$crust: #11111b;

Screen {
    background: $base;
    color: $text;
}

Header {
    background: $crust;
    color: $blue;
    text-style: bold;
    dock: top;
}

Footer {
    background: $crust;
    color: $lavender;
    dock: bottom;
}

#main-container {
    layout: horizontal;
    width: 100%;
    height: 1fr;
}

/* Sidebar */
#sidebar {
    width: 30;
    height: 100%;
    background: $crust;
    border-right: solid $surface0;
}

#sidebar.hidden {
    display: none;
}

/* Editor Area */
#editor-container {
    width: 1fr;
    height: 100%;
}

#path-header {
    background: $surface0;
    color: $sapphire;
    padding: 0 1;
    height: 1;
}

TextArea {
    width: 100%;
    height: 1fr;
    background: $base;
    border: none;
}

/* Bars */
#info-bar {
    height: 1;
    background: $surface0;
    color: $overlay0;
}

#clock-label {
    width: 15;
    content-align: right middle;
}

#status-bar {
    height: 1;
    background: $blue;
    color: $crust;
    text-style: bold;
    padding: 0 1;
}

/* Context Menu Overlay */
#context-menu {
    display: none;
    width: 24;
    height: auto;
    background: $surface0;
    border: double $blue;
    layer: overlay;
    padding: 0;
}

#context-menu Label {
    width: 100%;
    padding: 0 1;
}

#context-menu Label:hover {
    background: $blue;
    color: $crust;
}

#menu-delete {
    color: $maroon;
}

.hidden {
    display: none;
}


/* Styling Kolom Ranger */
.ranger-col {
    width: 1fr;
    border-right: solid #313244;
    background: #1e1e2e;
}

/* Background Highlight untuk baris yang terpilih (Focus State) */
DirectoryTree > .directory-tree--cursor {
    background: #45475a 80%; /* Warna highlight background */
    color: #f5e0dc;
    text-style: bold;
}

/* Highlight khusus untuk kolom yang aktif/fokus */
.focus-area:focus {
    border: double #89b4fa;
    background: #181825;
}

/* Styling Header Ranger agar mencolok */
#ranger-header {
    background: #fab387;
    color: #11111b;
    padding: 0 1;
    text-style: bold;
    border-bottom: thick #1e1e2e;
}

/* Area Preview */
#preview-col {
    padding: 1 2;
    color: #a6adc8;
    background: #11111b;
}